.background {
  background-color: #000;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.p {
  text-align: center;
  font-size: 1.5vh;
}

.link {
  color: #2371FF;
}

.link:hover {
  text-decoration: none;
}