.button {
  padding: 1vh 2vh;
  border: 0;
  font-size: 1.6vh;
  font-weight: bold;
  border-radius: 10px;
}

.abled {
  cursor: pointer;
  background-color: #2371FF;
  color: #fff;
}

.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}